Source: sam-forwarder
Section: unknown
Priority: optional
Maintainer: eyedeekay <hankhill19580@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/eyedeekay/sam-forwarder
Vcs-Browser: https://github.com/eyedeekay/sam-forwarder
Vcs-Git: https://github.com/eyedeekay/sam-forwarder.git

Package: sam-forwarder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Out-of-router i2ptunnel-like application.
 sam-forwarder is a socat-inspired suite of tunneling tools for the i2p network.
 It provides the same features as i2ptunnel, but does so using a router-agnostic
 SAM application which accepts i2pd-like ini files and command-line parameters.
